.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.detailsContainer {
  margin-top: 20px;
  text-align: center;
}

.todayClass {
  background-color: #00a6ff ;
  color: white ;
  border-radius: 6px;
}

.jobDateClass {
  color: red;
}