.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* gap: 40px; */
  width: 100%;
}

.pageHeader {
  font-size: 20px;
  font-weight: 600;
}

.loaderContainer {
  display: flex;
  min-height: 60vh;
  align-items: center;
  justify-content: center
}

.filesContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-height: 70vh;
}

.singleFile {
  width: 100%;
}

.files {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.file {
  border: 1px solid var(--mytracker-card-border-color);
  box-shadow: 0 4px 10px var(--mytracker-bs-color); 
  border-radius: 8px;
  /* width: 40%; */
  max-width: 400px;
  justify-content: center;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.fileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 5px;
}

.fileDetails span:first-child {
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 20px;
}

.fileDetails span:last-child {
  color: #7e8aad;
  font-weight: 500;
  font-size: 16px;
}

.thumbnail {
  /* padding-top: 50px; */
  position: relative;
  text-decoration: none;
  /* width: 50%; */
}

.thumbnail a {
  cursor: default;
}

.pdfPage {
  width: 100% !important;
  cursor: pointer !important;
  user-select: none !important;
  border-radius: 8px;
}

.pdfPage.hovered {
  cursor: pointer !important;
}

.pdfButton {
  position: absolute;
  color: #D70040;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 18px;
  border: 1px solid var(--mytracker-border-color);
  padding: 4px 10px;
  border-radius: 10px;
  background-color: #f9cad8;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  user-select: none;
}

.downloadButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9cad8;
  color: #D70040;
  padding: 10px;
  border-radius: 50%;
  font-size: 45px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  cursor: pointer !important;
}

.navigationButtons {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icon {
  font-size: 30px;
  border-radius: 50%;
  padding: 5px;
  border: solid 1px #00a6ff;
  color: #00a6ff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  color: #283452;
}

.disabled {
  opacity: 0.5;
}

.timestamp {
  color: #7e8aad;
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.fileBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-top: 1px solid var(--mytracker-card-border-color);
  align-items: center;
}

.fileBottom span {
  color: #00a6ff;
  font-weight: 600;
  border: 1px solid var(--mytracker-border-color);
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--button-bg-color);
}

.binIcon {
  /* position: absolute; */
  cursor: pointer;
  color: #7e8aad;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
}

.binIcon:hover {
  /* color: var(--primary-text-color); */
  color: #D70040;
}

.formContainer {
  flex: 1;
  display: flex;
  align-items: center; 
  width: 50%;
}

.notEmptyFormContainer {
  justify-content: flex-end; 
}

.emptyFormContainer {
  justify-content: center;
}

