.searchContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  border: solid 1px #7e8aadb2;
  border-radius: 8px;
  padding: 6px 12px;
  color: #7e8aad;
  gap: 5px;
  position: relative;
}

.searchIcon {
  font-size: 17px;
  display: flex;
}

.searchInput {
  border: none;
  outline: none;
  flex-grow: 1;
  transition: width 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.searchInput::placeholder {
  color: #7e8aad;
  font-size: 16px;
}

.searchInput:not(.expanded) {
  width: calc(7ch);
}

.closeIcon {
  position: absolute;
  right: 5px;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
  color: #283452;
}