.modalWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 80%;
  background-color: var(--mytracker-bg-color);
  display: flex;
  flex-direction: column;
  outline: none;
  border-radius: 8px;
  z-index: 1000;

  @media (min-width: 768px) {
    width: 60%;
    max-width: 500px;
  }
}

.modalHeader {
  background-color: var(--mytracker-bg-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #dfdfe252;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  color: var(--primary-text-color);
}

.jobStatus {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.jobStatus span {
  font-weight: 500;
}

.statusIcon {
  display: flex;
}

.closeIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #7e8aad;
  transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
  color: var(--primary-text-color);
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.formInput {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  gap: 5px;
  width: 80%;
  
  @media (min-width: 768px) {
    width: 60%;
  }
}

.formInput span {
  font-weight: 500;
  font-size: 15px;
  color: var(--primary-text-color);
}

.itemName {
  font-weight: 500;
  font-size: 15px;
  color: var(--primary-text-color);
  text-align: left;
  align-items: left;
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.input {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid #dfdfe2b4;
  box-shadow: rgba(25, 4, 69, 0.05) 0px 1px 4px;
  border-radius: 5px;
  padding: 10px 10px;
  width: 100%;
  outline: none;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background: none;
}

.input:focus {
  outline: solid 2px #00a6ff;
}

.input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #7e8aad;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.submitButtonContainer button {
  padding: 8px 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  outline: none;
  border: 1px solid #dfdfe2b4;
  box-shadow: rgba(25, 4, 69, 0.05) 0px 1px 4px;
  background-color: #00a6ff;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.submitButtonContainer button:hover {
  background-color: transparent;
  color: #00a6ff;
  border: solid 1px #00a6ff;
}