.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-self: center;
  gap: 64px;
  width: 80%;
  margin-top: 40px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.leftContainer, .rightContainer {


  @media (min-width: 768px) {
    width: 50%;
  }
}

.headerText {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

.headerText1 {
  font-weight: 400;
  font-size: 30px;
}

.headerText2 {
  font-weight: 800;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  line-height: 85px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.headerText3 {
  font-weight: 400;
  font-size: 20px;
}




