.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 30px;
  gap: 64px;
  background-color: var(--background-color);
  color: var(--primary-text-color);

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 80px;
  }
}


