.wrapper {
  width: 100vw;
  background-color: #06283D;
}

.container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  padding: 60px 0;
}

.leftContainer {
  width: 50%;
  color: var(--secondary-text-color);
}

.header {
  font-size: 46px;
  font-weight: 600;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.step span:first-child {
  font-weight: 500;
  font-size: 28px;
}

.step span:last-child {
  font-size: 20px;
}

.rightContainer {
  width: 50%;
}