.form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px var(--mytracker-bs-color); 
  border-radius: 8px;
  height: 80%;
  width: 80%;
  max-width: 300px;
  max-height: 350px;
  outline: none !important;

  @media (max-width: 767px) {
    min-height: 300px;
  }
}

.emptyForm {
  width: 80%;
  height: 350px;

  @media (min-width: 768px) {
    width: 300px;
  }
}

.dragDropContainer {
  border: 1px dashed #00a6ff;
  border-radius: 8px;
  text-align: center;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: none !important;

  @media (max-width: 767px) {
    min-height: 300px;
  }
}

.dragDropContainer:hover {
  border: 2px dashed #00a6ff;
  background-color: var(--upload-hover-bg-color);
  outline: none !important;
}

.dragDropHovered {
  background-color: #00a6ff;
  outline: none !important;
}

.dropArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100% !important;
  /* height: 100% !important; */
  justify-self: center;
  cursor: pointer;
  justify-content: center;
  outline: none !important;
}

.header {
  /* margin-top: 100px; */
  font-size: 14px;
  width: 80%;

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

.subHeader {
  font-style: italic;
  color: #00a6ff;
  font-size: 14px;
  width: 80%;
}

.icon {
  color: #00a6ff;
  font-size: 28px;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  cursor: pointer;
}

.scale {
  scale: 1.5;
}

.selectedFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 100%;

  @media (max-width: 767px) {
    min-height: 300px;
  }
}

.fileName {
  font-weight: 600;
  color: #00a6ff;
  font-size: 14px;
  text-overflow: ellipsis;

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 24px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.button {
  box-shadow: 0px 4px 10px rgba(25,4,69,0.2);
  background-color: #00a6ff;
  border: solid 2px #00a6ff;
  color: white;
  border-radius: 8px;
  padding: 10px 18px;
  transition: all 0.3s ease-in-out;
  width: max-content;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  z-index: 1000;
}

.button:hover {
  border: solid 2px #00a6ff;
  color: #00a6ff;
  background-color: transparent;
}

.clearButton {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  color: #7e8aad;
  padding: 5px 10px;
  border: solid 1px #7e8aad;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1000;
  background: none;
}

.clearButton:hover {
  color: #283452;
  border: solid 1px #283452;
}