.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  justify-self: center;
  width: 90%;
  /* position: fixed; */

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 80px;
  }
}

.title {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: var(--primary-text-color);
  cursor: pointer;
  width: max-content;
}

.icon {
  font-size: 40px;
  /* border: solid 1px #00a6ff;
  border-radius: 50%;
  background-color: var(--foreground-color); */
  color: #00a6ff
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.text span:first-child {
  font-weight: 500;
}

.text span:last-child {
  font-weight: 700;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.link {
  color: var(--foreground-color);
  transition: all 0.2s ease-in;
  padding: 6px 12px;
  border-radius: 8px;
  width: max-content;
  text-wrap: nowrap;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.link:hover {
  background-color: var(--button-bg-color);
}

.rightContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.toggleContainer {
  display: flex;
  justify-content: flex-start;
}