.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: #45496A;
  cursor: pointer;
}

.icon {
  font-size: 40px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.text span:first-child {
  font-weight: 500;
}

.text span:last-child {
  font-weight: 700;
}