.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 90vh;
}

.topBar {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed; 
  top: 0;  
  padding: 25px;
  max-width: 1200px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: var(--primary-text-color);
  cursor: pointer;
  width: max-content;
}

.icon {
  font-size: 40px;
  color: #00a6ff
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.text span:first-child {
  font-weight: 500;
}

.text span:last-child {
  font-weight: 700;
}

.wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.header {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

.subHeader {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 400;
  width: 80%;

  @media (min-width: 768px) {
    width: max-content;
  }
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.socialButton {
  background-color: white;
  height: 40px;
  border-radius: 10px;
  box-shadow: rgba(25, 4, 69, 0.05) 0px 3px 6px;
  border: 1px solid rgba(25, 4, 69, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 80%;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.socialButton:hover {
  border: solid 2px #00a6ff;
}

.socialButton span {
  color: #06283D;
  font-size: 16px;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.socialIcon {
  height: 20px;
}

.githubIcon {
  font-size: 20px;
  color: #171515;
}

.textContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 20px;
}

.textContainer span {
  font-size: 16px;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.textContainer span:last-child {
  color: #00a6ff;
}
