.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.featureContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.featureContainer:nth-child(odd) {
  flex-direction: row-reverse;
}

.imageContainer {
  width: 55%;
}

.imageContainer:nth-child(2) {
  flex: 2;
}

.content {
  width: 45%;
  display: flex;
  flex-direction: column;
}