.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.featureContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.featureContainer:nth-child(odd) {
  flex-direction: row-reverse;
}

.imageBackground {
  width: 55%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 450px;
  min-height: 500px;
  padding: 15px;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.imageContainer img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  /* scale: 1.2; */
}

.content {
  width: 45%;
  display: flex;
  flex-direction: column;
}