.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: solid 1px var(--footer-border-color);
}

.linksWrapper {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  width: 80%;
  gap: 60px;

  @media (min-width: 768px) {
    gap: 200px;
    justify-content: center;
    width: 100%;
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;
  gap: 15px;
}

.sectionTitle {
  font-weight: 600;
  /* color: #283452; */
}

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  align-items: center;
}

.link {
  color: var(--footer-color);
  transition: all 0.2s ease-in-out;
  width: max-content;
  text-wrap: nowrap;
}

.link:hover {
  color: #00a6ff;
}