.swiperContainer {
  align-self: center;
  width: 80%;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 60%;
  }
  
  @media (min-width: 1024px) {
    /* width: 80%; */
    max-width: 650px;
  }
}

.swiper {
  width: 100% !important;
  height: 100% !important;
}

.swiperSlide {
  display: flex !important;
  justify-content: center !important
}

.container {
  /* height: 100%; */
  border-radius: 10px;
  background: #EFF0F0;
  text-align: center;
  color: white;
  position: relative;
  margin-top: 20px;
  align-content: center;
  background: white;
  box-shadow: 0px 8px 24px rgba(62, 53, 82, 0.16);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 120px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 140px;
  }
  
  @media (min-width: 1024px) {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 140px;
  }
}

.quote {
  color: #747076;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 15px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
    line-height: 25px;
  }
  
  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 32px;
  }
}

.quoter {
  color: #002D49;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
  }
  
  @media (min-width: 1024px) {
    font-size: 22px;
    margin-top: 30px;
  }
}

.info {
  color: #002D49;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 30px;
  }
}
