.swiperContainer {
  align-self: center;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 60%;
  }
  
  @media (min-width: 1024px) {
    /* width: 80%; */
    max-width: 650px;
  }
}

.swiper {
  width: 100% !important;
  height: 100% !important;
}

.swiperSlide {
  display: flex !important;
  justify-content: center !important
}

.container {
  /* height: 100%; */
  border-radius: 10px;
  background: #EFF0F0;
  text-align: center;
  color: white;
  position: relative;
  margin-top: 20px;
  align-content: center;
  background: white;
  box-shadow: 0px 8px 24px rgba(62, 53, 82, 0.16);
  padding: 30px;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
}

.testimonial {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  color: var(--primary-text-color);

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.quoteIcon {
  font-size: 30px;
  color: var(--primary-text-color);

  @media (min-width: 768px) {
    font-size: 35px;
  }
}

.quoteIcon:last-child {
  align-self: flex-end;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quoter {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 15px;
  
  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.info {
  color: var(--primary-text-color);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 16px;
  }
  
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.arrowsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.customPrevArrow, .customNextArrow {
  top: 50%;
  transform: translateY(-20px);
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  border: solid 1px red;
}