.arrowContainer {
  position: fixed;
  bottom: 80px;
  right: 20px;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
  z-index: 10000; 
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  width: 3em ; 
  height: 3em;
  background-color: white; 
}

.arrowContainer.show {
  opacity: 1; 
}

.arrow {
  color: #00a6ff;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.arrow:hover {
  scale: 1.2;
}