.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 80vh;
  width: 100%;
}

.tracker {
  background-color: #FDFDFF;
  border: solid 1px #DFDFE2;
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(25, 4, 69, 0.05) 0px 3px 6px;
}

.headerContainer {
  width: 100%;
  padding: 10px 20px;
  background-color: #FFFFFF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: solid 2px #dfdfe252;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.header {
  font-weight: 600;
  font-size: 16px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #7e8aad;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
  border: solid 1px #7e8aadb2;
}

.submenuContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.submenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #7e8aad;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
  width: max-content;
  text-wrap: nowrap;
  transition: all 0.2s ease-in;
}

.submenu:hover {
  color: #283452;
  background-color: var(--button-bg-color);
}

.modalWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 60%;
  max-width: 500px;
  background-color: #FDFDFF;
  display: flex;
  flex-direction: column;
  outline: none;
  border-radius: 8px;
}

.modalHeader {
  background-color: #FFFFFF;
  font-weight: 500;
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #dfdfe252;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.closeIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #7e8aad;
  transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
  color: #283452;
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.formInput {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  gap: 5px;
  width: 60%;
}

.formInput span {
  font-weight: 500;
  font-size: 15px;
}

.input {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid #dfdfe2b4;
  box-shadow: rgba(25, 4, 69, 0.05) 0px 1px 4px;
  border-radius: 5px;
  padding: 10px 10px;
  width: 100%;
}

.input::placeholder {
  font-family: "Roboto", sans-serif;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.submitButtonContainer button {
  padding: 8px 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  outline: none;
  border: 1px solid #dfdfe2b4;
  box-shadow: rgba(25, 4, 69, 0.05) 0px 1px 4px;
  background-color: #00a6ff;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.submitButtonContainer button:hover {
  background-color: #FFFFFF;
  color: #00a6ff;
  border: solid 1px #00a6ff;
}

.jobsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.jobColumn {
  width: 25%;
  padding: 0 10px;
}

.jobColumn:nth-child(2), .jobColumn:nth-child(3), .jobColumn:nth-child(4) {
  border-left: solid 2px #dfdfe252;
}

.jobColumnHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.jobColumnHeader span:first-child {
  /* color: #7e8aad; */
  font-size: 20px;
}

.jobColumnHeader span:nth-child(2) {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.jobColumnHeader span:last-child {
  color: #7e8aad;
  font-size: 15px;
  font-weight: 500;
}

.button {
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  justify-content: center;
  border: solid 2px #dfdfe252;
  box-shadow: rgba(25, 4, 69, 0.05) 0px 3px 6px;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #00a6ff;
  color: #FFFFFF;
}

.jobs {
  margin-top: 20px;
}

.jobCard {
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 12px;
  display: flex;
  align-items: stretch;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.jobCard:hover {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  scale: 1.01;
}

.jobCardContent {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 10px;
  flex: 1;
  gap: 5px;
  position: relative;
}

.jobTitle {
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.companyContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.companyLogo {
  border-radius: 50%;
  width: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.jobCompany  {
  color: #7e8aad;
  font-size: 16px;
}

.jobCardInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  justify-content: flex-end;
}

.date {
  font-weight: 400;
  font-size: 14px;
  color: #7e8aad;
}

.icon {
  font-size: 16px;
  color: #7e8aad;
}

.editButton {
  position: absolute;
  top: 0;
  right: 0;
  color: #7e8aad;
  transition: all 0.2s ease-in-out;
}

.editButton:hover {
  color: #283452;
}

